[submodule "Engine/Packages/mimalloc"]
	path = Engine/Packages/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = main
[submodule "Engine/Packages/benchmark"]
	path = Engine/Packages/benchmark
	url = https://github.com/google/benchmark.git
	branch = main
[submodule "Engine/Packages/googletest"]
	path = Engine/Packages/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "Engine/Packages/gtl"]
	path = Engine/Packages/gtl
	url = https://github.com/greg7mdp/gtl.git
	branch = main
[submodule "Engine/Packages/VulkanMemoryAllocator"]
	path = Engine/Packages/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	branch = master
[submodule "Engine/Packages/SDL"]
	path = Engine/Packages/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
